$accent: #710a85;

$headerBG: #9c29b2;

$heroBG: #ffc909;
$burgerMenuBG: #ffc909;
$navLinkHoverMobile: #fff;
$navLinkColorMobile: #710a85;
$navLinkHover: #ffc909;
$navLinkColor: #fff;
$navMobileAccent: #fff;

$textWhite: #fff;
$textpurple: #710a85;
$titleColor: #2e0336;
$white: #fff;
