$accent: #710a85;

$headerBG: #9c29b2;
$footerBG: #9c29b2;
$kidsBG: #fff0e5;
$heroBG: #ffc909;
$galleryBG: #ffe7c0;
$buttonBG: #ffc909;
$galleryGradient: linear-gradient(
  183deg,
  rgba(255, 240, 229, 1) 57%,
  rgba(255, 231, 192, 1) 100%
);
$studyBG: #710a85;
$SchedulCardBG: #e8cded;
$schedulBG: #2e0336;
$teachersBG: linear-gradient(180deg, #ffe7c0 10%, #e8cded 100%);
$burgerMenuBG: #ffc909;

$navLinkHoverMobile: #fff;
$navLinkColorMobile: #710a85;
$navLinkHover: #ffc909;
$navLinkColor: #fff;
$navMobileAccent: #fff;

$textWhite: #fff;
$textpurple: #710a85;
$textPurple: #710a85;
$titleColor: #2e0336;
$white: #fff;

$scroll: #ffc909;
$scrollBG: #9c29b2;
$scrollBGHover: #fff;

$swiperButtonsBG: #ffc909;
$swiperButtonsBGHover: fff;

$inputBorder: #9c29b2;
$inputBorderFocus: #ffc909;


$activeButtonBorder: #ffc909;