//---burgerMenu---

.burgerMenuWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  width: 65vw;
  height: 100vh;

  @extend%aligncenter;

  background: $burgerMenuBG;

  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;

  @include desktop {
    width: 65vw;
  }
}

.burgerMenuWrapper.hidden {
  pointer-events: none;
  opacity: 0;
  transform: translateX(100%);
}
